/* 隐藏内置按钮区域 - 插件启用后默认生效, 通过 crb-show-builtin 类来取消隐藏 */
body:not(.is-mobile):not(.crb-show-builtin) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  display: none !important;
}

/* 隐藏默认功能区 - 通过 crb-hide-default-actions 类控制 */
body.crb-hide-default-actions .side-dock-actions {
  display: none !important;
}
